{% extends 'base.html' %}
{% block title %} {{product_pk.name}} {% endblock %}
{% block content %}

<section class="pt-5 pb-5">
    <div class="container">
      <div class="row w-100">
          <div class="col-lg-12 col-md-12 col-12">
              <h3 class="display-5 mb-2 text-center">Корзина покупателя</h3>
              <p class="mb-5 text-center">
                  <i class="text-warning font-weight-bold">{{all_products_count}}</i>предметы в вашей корзине</p>
              <table id="shoppingCart" class="table table-condensed table-responsive">
                  <thead>
                      <tr>
                          <th style="width:60%">Продукт</th>
                          <th style="width:12%">Цена</th>
                          <th class="text-white" style="width:10%">Количество</th>
                          <th class="text-white" style="width:20%">Количество</th>
                          <th class="text-white" style="width:20%">Удалить</th>
                          <th style="width:16%"></th>
                      </tr>
                  </thead>
                  {% for product in products %}
                  <tbody>
                      <tr>
                          <td data-th="Product">
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="{{product.image.url}}" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4>{{product.name}}</h4>+996 550 260 791

                                      <p class="font-weight-light">Категория &amp;{{product.Category}}</p>
                                  </div>
                              </div>
                          </td>
                          <td data-th="Price">{{product.price}} сом</td>
                          <td class="text-white" data-th="Quantity">
                              <!-- <input type="number" class="form-control form-control-lg text-center" value="1"> -->
                              {{product.count}}
                          </td>
                          <td  class="text-white" data-th="TotalSum">
                              {{product.sum}} сом
                          </td>
                          <td class="actions" data-th="">
                            <a href="{% url 'remove_from_cart' pk=product.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                                <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/></a>
                              </svg>
                          </td>
                      </tr>
                  </tbody>
                  {% endfor %}
              </table>
              <div class="float-right text-right">
                  <h4>Промежуточный итог:</h4>
                  <h1>{{price}} сом</h1>
              </div>
          </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
          <div class="col-sm-6 order-md-2 text-right">
              <!-- <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a> -->

                <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
    Оформить заказ...
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="staticBackdropLabel">Для заказа пишите свои контактные данные</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'order' %}" method="POST">
            {% csrf_token %}
            <input class="form-control form-control-sm" type="text" placeholder="Введите ваше имя" aria-label=".form-control-sm example" name="c_name">
            <br>
            <input class="form-control form-control-sm" type="text" placeholder="Введите вашу фамилию" aria-label=".form-control-sm example" name="c_lname">
            <br>
            <input class="form-control form-control-sm" type="text" placeholder="Введите ваш номер телефона" aria-label=".form-control-sm example" name="c_phnumber">
            <br>
            <input class="form-control form-control-sm" type="text" placeholder="Введите ваш адрес" aria-label=".form-control-sm example" name="c_address">
            <br>
            <input class="form-control form-control-sm" type="email" placeholder="Введите вашу почту" aria-label=".form-control-sm example" name="c_email">
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg></button>
              <button type="submit" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
              </svg></button>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.extra_tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
    <a class="btn btn-warning" href="{% url 'homepage' %}">
        <i class="fas fa-arrow-left mr-2"></i>Продолжить покупки</a>
</div>
      </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"></script>
{% endblock %}
